<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h1>Food Bank Inventory System</h1>
    <h3>Have an account?</h3>
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button onclick="login()">Login</button>
    <h3>If you need an account please contact an admin.</h3>
    <a href="mailto:Admin@gmail.com">Ask about account creation!</a>
</body>
</html>